body {
  margin: 10px;
  white-space: nowrap;
}

h1 {
  font-size: 15px;
}

#container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

div{
    margin: 2px;
}

div.button {
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
    padding: 5px;
    text-align: center;
}
div.button:active {
    color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}
